body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}
Header {
    background-color: #eaeaea; /*gray */
}
Nav {
    background-color: #c0d6df; /*blue */
}
nav ul {
    display: flex;
}
main {
    background-color: #eaeaea; /*gray */
    font-size: 100%;
}
footer {
    background-color: #c0d6df; /*blue */
}
li {
    display: block;
    width: 200px;
}
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #69231b;
}
p {
    line-height: 20px;
}
